body, html {
    margin: 0;
    overflow: hidden;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
html {
    background-image: url(/assets/imgs/-9JX3KHVsJ2XYNQOj7LRX.png);
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.right-half {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-half {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.right-half h1 {
    margin-bottom: 20px;
}

.right-half .division-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.division {
    opacity: 1;
    background-color: #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#a {
width: 360px;
height:230px;
background-repeat: no-repeat;
background-image: url(assets/imgs/Diseño\ sin\ título\(1\).png);
position:absolute;
scale: 0.8;
}